.AccountUsernameField {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
}

.AccountUsernameField-label {
    font-size: 14px;
    color: grey;
    text-align: left;
    padding-bottom: 15px;
}
