input{
    width: 100%;
    border: none;
    background-color: aliceblue;
    height: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

input::placeholder{
    padding-left: 20px;
}
