input {
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: aliceblue;
    height: 45px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 0;
}

.input:focus {
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 30px;
}
